({{id_office}})焦顺证民字第{{id_doc}}号

　　申请人：{{name_A}}，{{sex_A}}，{{birthday_A}}出生，现住河南省焦作市{{address_A}}，公民身份号码：{{id_person_A}}。

　　被继承人：{{name_a}}，{{sex_a}}，{{birthday_a}}出生，生前住河南省焦作市{{address_a}}。

　　公证事项：继承权公证

　　申请人{{name_A}}因继承被继承人{{name_a}}的遗产，于{{date_request}}向我处申请办理继承权公证。

　　根据《中华人民共和国公证法》的规定，我处对申请人提交的权利证明及相关证据材料进行了审查核实，并对申请人进行了询问，现审核情况如下：

　　- 被继承人{{name_a}}于{{deathdate_a}}死亡。

　　- 被继承人{{name_a}}死亡时在河南省焦作市{{house_a}}房屋所有权证号为{{id_house_a}}，建筑面积为{{size_house_a}}平方米)留有一处房产，此房产是{{owner_house_a}}的个人财产。

　　- 据申请人称(见笔录)：被继承人{{name_a}}生前无遗嘱，亦未与他人签订遗赠扶养协议。

　　- 被继承人{{name_a}}的妻子{{name_a_wife}}已于{{deathdate_name_a_wife}}年死亡，二人是原配夫妻，只有一子一女，分别是{{callname_a_son1}}儿子{{name_a_son1}}和{{callname_a_son2}}女儿{{name_a_son2}}。{{name_a_wife}}自{{name_a}}死亡后未再婚。{{name_a}}的父母均先于其死亡。
{{^inheritance_right_son1}}
　　- 现{{name_son1}}表示放弃继承被继承人{{name_a}}的遗产,{{name_A}}表示要求继承被继承人{{name_a}}的遗产。
{{/inheritance_right_son1}}

　　根据上述事实并依据《中华人民共和国继承法》第三条的规定，被继承人{{name_a}}的上述个人财产为{{name_a}}的遗产。根据《中华人民共和国继承法》第五条、第十条和第二十五条的规定，被继承人{{name_a}}的遗产应由其配偶、子女和父母共同继承。因被继承人{{name_a}}的父亲、母亲和妻子均先于其死亡，现其{{relation_fq1}}女儿{name_fq1}}表示放弃对上述遗产的继承权利，故被继承人{{name_a}}的上述遗产应由其{{relation_A}}儿子{{name_A}}一人继承。

　　中华人民共和国河南省焦作市{{name_office}}公证处

　　公证员: {{name_notary}}

　　{{date_notary}}
